jedi
jupyter
notebook
jupyterlab
ipykernel
ipywidgets
jupyterlab_theme_solarized_dark
jupyter_contrib_nbextensions

black
isort
jupyterlab_code_formatter

pipdeptree
pip-licenses
pytest
xlrd
tqdm
memory_profiler

numpy
pandas
seaborn
matplotlib
japanize-matplotlib

plotly
# dash

scikit-image
scikit-learn
scipy

# opencv-python
# pydotplus
# graphviz
# imutils
# Pillow
# PyWavelets
# pyradiomics

# numba

# fastcluster
# hdbscan

# lightgbm
# optuna

torch
torchvision
torchviz
playground-data
pytorch-lightning
